# One-Dimensional Convolutional Neutral Network

This is to demonstrate a 1D CNN using Keras. The utility class accepts pandas dataframe as input for training and testing. 

## Load Packages

In [1]:
import os
import pandas as pd
from one_dim_cnn import OneDimCnn

Using TensorFlow backend.

## Load Data
We use the data from BBC. The raw files can be downloaded here: http://mlg.ucd.ie/datasets/bbc.html.

When we unzip the folder, bbc has subdirectories namely; business, entertainment, politics, sport and tech. We can use these folders as our target categories or labels. Each folder contains files belonged to the category.


Note: README text file is removed for convinient parsing and contains.
Consists of 2225 documents from the BBC news website corresponding to stories in five topical areas from 2004-2005.
Natural Classes: 5 (business, entertainment, politics, sport, tech)

If you make use of the dataset, please consider citing the publication: 
- D. Greene and P. Cunningham. "Practical Solutions to the Problem of Diagonal Dominance in Kernel Document Clustering", Proc. ICML 2006.

All rights, including copyright, in the content of the original articles are owned by the BBC.

Contact Derek Greene <derek.greene@ucd.ie> for further information.
http://mlg.ucd.ie/datasets/bbc.html


Note: The datasets must be contained in csv file or dataframe with column names, 'input' and 'label'. 

Let us check first if we have the desired list of folders in our path, 'bbc'

In [2]:
dir_list = os.listdir(os.path.abspath('data'))
dir_list

['business', 'entertainment', 'politics', 'sport', 'tech']

We see that we have the 5 lists of categories that later we will use as labels.
Now, Let us define a function that scans all the contents for each category and list them all in pandas dataframe.

In [3]:
def loader(path):
    """Input contents to dataframe with corresponding label."""
    data = pd.DataFrame([], columns=['input', 'label'])
    dir_list = os.listdir(os.path.abspath(path))
    for folder in dir_list:
        file_list = os.listdir(path + '/' + folder)
        for f in file_list:
            with open(path + '/'+ folder + '/' + f, 'r', newline='') as file:
                data.loc[data['input'].shape[0] + 1,'input'] = file.read().strip()
                data.loc[data['input'].shape[0], 'label'] = str(folder)
    return data

In [4]:
df = loader('data')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2225 entries, 1 to 2225
Data columns (total 2 columns):
input    2225 non-null object
label    2225 non-null object
dtypes: object(2)
memory usage: 132.1+ KB

In [5]:
df.head(5)

                                               input     label
1  Ad sales boost Time Warner profit\n\nQuarterly...  business
2  Dollar gains on Greenspan speech\n\nThe dollar...  business
3  Yukos unit buyer faces loan claim\n\nThe owner...  business
4  High fuel prices hit BA's profits\n\nBritish A...  business
5  Pernod takeover talk lifts Domecq\n\nShares in...  business

We can see from the above lines that there are 2225 entries which correspond to the number of documents. We also show the first 5 entries in the dataframe.

## Balanced Data
Check the shape of data.

In [6]:
for lbl in df['label'].unique():
    print('category: ', lbl, ', shape: ', df[df.loc[:, 'label'] == lbl].shape)

category:  business , shape:  (510, 2)
category:  entertainment , shape:  (386, 2)
category:  politics , shape:  (417, 2)
category:  sport , shape:  (511, 2)
category:  tech , shape:  (401, 2)

To keep the data having equal amounts, we will take the lowest number, 386.

In [7]:
sub_df = pd.DataFrame([])
for lbl in df['label'].unique():
    sub_df = sub_df.append(df[df.loc[:, 'label'] == lbl].head(386))

In [8]:
for lbl in sub_df['label'].unique():
    print('category: ', lbl, ', shape: ', sub_df[sub_df.loc[:, 'label'] == lbl].shape)

category:  business , shape:  (386, 2)
category:  entertainment , shape:  (386, 2)
category:  politics , shape:  (386, 2)
category:  sport , shape:  (386, 2)
category:  tech , shape:  (386, 2)

Now that we have a balanced data set, we can start training.

## One-Dimensional CNN
Initialize Model

In [13]:
cnn = OneDimCnn(max_features=50000, batch_size=32, embedding_dims=100, filters=250, maxlen=2000)

{'epochs': 20, 'hidden_dims': 250, 'kernel_size': 3, 'filters': 250, 'embedding_dims': 100, 'batch_size': 32, 'maxlen': 2000, 'max_features': 50000, 'self': <one_dim_cnn.OneDimCnn object at 0x0000026220FD0160>}

In [14]:
tokenizer, model = cnn.train(sub_df, save=False) # Set save=True if you want to save the model, Default: False

Loading data...
Train shape:  (1545, 2000)
Test shape:  (386, 2000)
Building model...
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_3 (InputLayer)         (None, 2000)              0
_________________________________________________________________
embedding_3 (Embedding)      (None, 2000, 100)         5000000
_________________________________________________________________
dropout_5 (Dropout)          (None, 2000, 100)         0
_________________________________________________________________
conv1d_3 (Conv1D)            (None, 1998, 250)         75250
_________________________________________________________________
global_max_pooling1d_3 (Glob (None, 250)               0
_________________________________________________________________
dense_5 (Dense)              (None, 250)               62750
_________________________________________________________________
dropout_6 (Dropout)          (None, 250)               0
_________________________________________________________________
dense_6 (Dense)              (None, 5)                 1255
=================================================================
Total params: 5,139,255
Trainable params: 5,139,255
Non-trainable params: 0
_________________________________________________________________
None
Train on 1545 samples, validate on 386 samples
Epoch 1/20
1545/1545 [==============================] - 55s 36ms/step - loss: 1.5513 - acc: 0.3379 - val_loss: 1.3136 - val_acc: 0.7150
Epoch 2/20
1545/1545 [==============================] - 54s 35ms/step - loss: 0.8520 - acc: 0.7864 - val_loss: 0.4233 - val_acc: 0.8886
Epoch 3/20
1545/1545 [==============================] - 52s 33ms/step - loss: 0.2817 - acc: 0.9301 - val_loss: 0.2348 - val_acc: 0.9249
Epoch 4/20
1545/1545 [==============================] - 54s 35ms/step - loss: 0.1217 - acc: 0.9683 - val_loss: 0.1231 - val_acc: 0.9585
Epoch 5/20
1545/1545 [==============================] - 50s 32ms/step - loss: 0.0584 - acc: 0.9890 - val_loss: 0.0887 - val_acc: 0.9663
Epoch 6/20
1545/1545 [==============================] - 54s 35ms/step - loss: 0.0258 - acc: 0.9922 - val_loss: 0.0812 - val_acc: 0.9819
Epoch 7/20
1545/1545 [==============================] - 56s 36ms/step - loss: 0.0086 - acc: 0.9987 - val_loss: 0.0777 - val_acc: 0.9689
Epoch 8/20
1545/1545 [==============================] - 56s 36ms/step - loss: 0.0042 - acc: 0.9994 - val_loss: 0.0670 - val_acc: 0.9741
Epoch 9/20
1545/1545 [==============================] - 56s 36ms/step - loss: 0.0012 - acc: 1.0000 - val_loss: 0.0713 - val_acc: 0.9767
Epoch 10/20
1545/1545 [==============================] - 52s 34ms/step - loss: 2.0882e-04 - acc: 1.0000 - val_loss: 0.0882 - val_acc: 0.9767
Epoch 11/20
1545/1545 [==============================] - 53s 34ms/step - loss: 3.2128e-04 - acc: 1.0000 - val_loss: 0.0967 - val_acc: 0.9715
Epoch 12/20
1545/1545 [==============================] - 54s 35ms/step - loss: 2.2702e-05 - acc: 1.0000 - val_loss: 0.0908 - val_acc: 0.9715
Epoch 13/20
1545/1545 [==============================] - 53s 35ms/step - loss: 5.0497e-05 - acc: 1.0000 - val_loss: 0.1022 - val_acc: 0.9767
Epoch 14/20
1545/1545 [==============================] - 53s 34ms/step - loss: 1.5668e-05 - acc: 1.0000 - val_loss: 0.1135 - val_acc: 0.9741
Epoch 15/20
1545/1545 [==============================] - 51s 33ms/step - loss: 2.0855e-06 - acc: 1.0000 - val_loss: 0.1030 - val_acc: 0.9715
Epoch 16/20
1545/1545 [==============================] - 50s 33ms/step - loss: 1.0689e-06 - acc: 1.0000 - val_loss: 0.1006 - val_acc: 0.9689
Epoch 17/20
1545/1545 [==============================] - 53s 34ms/step - loss: 3.5910e-07 - acc: 1.0000 - val_loss: 0.1083 - val_acc: 0.9689
Epoch 18/20
1545/1545 [==============================] - 55s 35ms/step - loss: 4.1037e-07 - acc: 1.0000 - val_loss: 0.1087 - val_acc: 0.9715
Epoch 19/20
1545/1545 [==============================] - 51s 33ms/step - loss: 3.0563e-07 - acc: 1.0000 - val_loss: 0.1039 - val_acc: 0.9767
Epoch 20/20
1545/1545 [==============================] - 55s 35ms/step - loss: 3.2335e-07 - acc: 1.0000 - val_loss: 0.1259 - val_acc: 0.9715

You can find from the above example that the validated accuracy in ~97%.

## Testing
A sample content from BBC News is pulled out for testing.

In [16]:
from keras.preprocessing.sequence import pad_sequences
text = 'Elon Musk unveils first tourist for SpaceX Moon loop. Japanese billionaire and online fashion tycoon Yusaku Maezawa, 42, announced: "I choose to go to the Moon".'
vect_text = tokenizer.texts_to_sequences(text)
padded = pad_sequences(vect_text, maxlen=2000, padding='post')
pred = cnn.predict_class(model, padded)
pred

'business'